<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysBcGcbbMapper">
    
    <resultMap type="SysBcGcbb" id="SysBcGcbbResult">
        <result property="id"    column="id"    />
        <result property="cTime"    column="cTime"    />
        <result property="projectCode"    column="projectCode"    />
        <result property="projectName"    column="projectName"    />
        <result property="projectTypeName"    column="projectTypeName"    />
        <result property="customerName"    column="customerName"    />
        <result property="branchOrgName"    column="branchOrgName"    />
        <result property="contractNo"    column="contractNo"    />
        <result property="contractAmount"    column="contractAmount"    />
        <result property="contractFinalAmount"    column="contractFinalAmount"    />
        <result property="year"    column="year"    />
    </resultMap>

    <sql id="selectSysBcGcbbVo">
        select id, cTime, projectCode, projectName, projectTypeName, customerName, branchOrgName, contractNo, contractAmount, contractFinalAmount, year from sys_bc_gcbb
    </sql>

    <select id="selectSysBcGcbbList" parameterType="SysBcGcbb" resultMap="SysBcGcbbResult">
        <include refid="selectSysBcGcbbVo"/>
        <where>
            <if test="branchOrgName != null  and branchOrgName != ''"> and branchOrgName like concat('%', #{branchOrgName}, '%')</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
        </where>
    </select>
    
    <select id="selectSysBcGcbbById" parameterType="Long" resultMap="SysBcGcbbResult">
        <include refid="selectSysBcGcbbVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysBcGcbb" parameterType="SysBcGcbb" useGeneratedKeys="true" keyProperty="id">
        insert into sys_bc_gcbb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cTime != null">cTime,</if>
            <if test="projectCode != null">projectCode,</if>
            <if test="projectName != null">projectName,</if>
            <if test="projectTypeName != null">projectTypeName,</if>
            <if test="customerName != null">customerName,</if>
            <if test="branchOrgName != null">branchOrgName,</if>
            <if test="contractNo != null">contractNo,</if>
            <if test="contractAmount != null">contractAmount,</if>
            <if test="contractFinalAmount != null">contractFinalAmount,</if>
            <if test="year != null">year,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cTime != null">#{cTime},</if>
            <if test="projectCode != null">#{projectCode},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="projectTypeName != null">#{projectTypeName},</if>
            <if test="customerName != null">#{customerName},</if>
            <if test="branchOrgName != null">#{branchOrgName},</if>
            <if test="contractNo != null">#{contractNo},</if>
            <if test="contractAmount != null">#{contractAmount},</if>
            <if test="contractFinalAmount != null">#{contractFinalAmount},</if>
            <if test="year != null">#{year},</if>
         </trim>
    </insert>

    <update id="updateSysBcGcbb" parameterType="SysBcGcbb">
        update sys_bc_gcbb
        <trim prefix="SET" suffixOverrides=",">
            <if test="cTime != null">cTime = #{cTime},</if>
            <if test="projectCode != null">projectCode = #{projectCode},</if>
            <if test="projectName != null">projectName = #{projectName},</if>
            <if test="projectTypeName != null">projectTypeName = #{projectTypeName},</if>
            <if test="customerName != null">customerName = #{customerName},</if>
            <if test="branchOrgName != null">branchOrgName = #{branchOrgName},</if>
            <if test="contractNo != null">contractNo = #{contractNo},</if>
            <if test="contractAmount != null">contractAmount = #{contractAmount},</if>
            <if test="contractFinalAmount != null">contractFinalAmount = #{contractFinalAmount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBcGcbbById" parameterType="Long">
        delete from sys_bc_gcbb where id = #{id}
    </delete>

    <delete id="deleteSysBcGcbbByIds" parameterType="String">
        delete from sys_bc_gcbb where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSysBcGcbbByYear" parameterType="String">
        delete from sys_bc_gcbb where year = #{year}
    </delete>

    <select id="selectSysBcGcbbTj" parameterType="SysBcGcbb" resultMap="SysBcGcbbResult">
        SELECT
            branchOrgName,
            -- ① 所有总数
            COUNT(*) AS totalCount,
            -- ② 本周数
            SUM(
                    CASE
                        WHEN STR_TO_DATE( cTime, '%Y-%m-%d %H:%i:%s' ) BETWEEN STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY, '%Y-%m-%d' ), ' 00:00:00' ), '%Y-%m-%d %H:%i:%s' )
                            AND STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY + 6, '%Y-%m-%d' ), ' 23:59:59' ), '%Y-%m-%d %H:%i:%s' ) THEN
                            1 ELSE 0
                        END
                ) AS weekCount,
            -- ③ 含售
            SUM( CASE WHEN projectCode LIKE '%售%' THEN 1 ELSE 0 END ) AS sellYearCount,
            SUM(
                    CASE
                        WHEN projectCode LIKE '%售%'
                            AND STR_TO_DATE( cTime, '%Y-%m-%d %H:%i:%s' ) BETWEEN STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY, '%Y-%m-%d' ), ' 00:00:00' ), '%Y-%m-%d %H:%i:%s' )
                                 AND STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY + 6, '%Y-%m-%d' ), ' 23:59:59' ), '%Y-%m-%d %H:%i:%s' ) THEN
                            1 ELSE 0
                        END
                ) AS sellWeekCount,
            -- ④ 含规
            SUM( CASE WHEN projectCode LIKE '%规%' THEN 1 ELSE 0 END ) AS planYearCount,
            SUM(
                    CASE
                        WHEN projectCode LIKE '%规%'
                            AND STR_TO_DATE( cTime, '%Y-%m-%d %H:%i:%s' ) BETWEEN STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY, '%Y-%m-%d' ), ' 00:00:00' ), '%Y-%m-%d %H:%i:%s' )
                                 AND STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY + 6, '%Y-%m-%d' ), ' 23:59:59' ), '%Y-%m-%d %H:%i:%s' ) THEN
                            1 ELSE 0
                        END
                ) AS planWeekCount,
            -- ⑤ 含管按类型
            SUM( CASE WHEN projectCode LIKE '%管%' AND LOWER( projectTypeName ) LIKE '%cctv%' THEN 1 ELSE 0 END ) AS pipeCctvCount,-- 含“管” 且 projectTypeName 中不包含 'cctv'（不区分大小写）
            SUM( CASE WHEN projectCode LIKE '%管%' AND ( projectTypeName IS NULL OR LOWER( projectTypeName ) NOT LIKE '%cctv%' ) THEN 1 ELSE 0 END ) AS pipeOtherCount,
            -- ⑥ 含政按类型分
            SUM( CASE WHEN projectCode LIKE '%政%' AND ( projectTypeName LIKE '%土方%' OR projectTypeName LIKE '%控制%' ) THEN 1 ELSE 0 END ) AS govYearEarthControlCount,
            SUM( CASE WHEN projectCode LIKE '%政%' AND ( projectTypeName NOT LIKE '%土方%' AND projectTypeName NOT LIKE '%控制%' ) THEN 1 ELSE 0 END ) AS govYearRoadCount,
            SUM(
                    CASE
                        WHEN projectCode LIKE '%政%'
                            AND STR_TO_DATE( cTime, '%Y-%m-%d %H:%i:%s' ) BETWEEN STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY, '%Y-%m-%d' ), ' 00:00:00' ), '%Y-%m-%d %H:%i:%s' )
                                 AND STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY + 6, '%Y-%m-%d' ), ' 23:59:59' ), '%Y-%m-%d %H:%i:%s' )
                            AND ( projectTypeName LIKE '%土方%' OR projectTypeName LIKE '%控制%' ) THEN
                            1 ELSE 0
                        END
                ) AS govWeekEarthControlCount,
            SUM(
                    CASE
                        WHEN projectCode LIKE '%政%'
                            AND STR_TO_DATE( cTime, '%Y-%m-%d %H:%i:%s' ) BETWEEN STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY, '%Y-%m-%d' ), ' 00:00:00' ), '%Y-%m-%d %H:%i:%s' )
                                 AND STR_TO_DATE( CONCAT( DATE_FORMAT( CURRENT_DATE - INTERVAL WEEKDAY( CURRENT_DATE ) DAY + 6, '%Y-%m-%d' ), ' 23:59:59' ), '%Y-%m-%d %H:%i:%s' )
                            AND ( projectTypeName NOT LIKE '%土方%' AND projectTypeName NOT LIKE '%控制%' ) THEN
                            1 ELSE 0
                        END
                ) AS govWeekRoadCount,
            -- ⑦ 含籍
            SUM( CASE WHEN projectCode LIKE '%籍%' THEN 1 ELSE 0 END ) AS jiCount
        FROM
            sys_bc_gcbb
        WHERE
            branchOrgName IS NOT NULL AND year = #{year}
        GROUP BY
            branchOrgName;
    </select>
</mapper>