<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysGeoLogMapper">

    <resultMap type="SysGeoLog" id="SysGeoLogResult">
        <result property="logId"    column="log_id"    />
        <result property="logDate"    column="log_date"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="createTime"    column="create_time"    />
        <association property="geoLogInfo" javaType="java.util.List" resultMap="SysGeoLogInfoResult"/>
        <association property="geoUser" javaType="SysGeoUser" resultMap="SysGeoUserResult"/>
    </resultMap>

    <resultMap type="SysGeoUser" id="SysGeoUserResult">
        <result property="userName"    column="user_name"    />
        <result property="isCheck"    column="is_check"    />
    </resultMap>

    <resultMap type="SysGeoLogInfo" id="SysGeoLogInfoResult">
        <result property="logId"    column="log_id"    />
        <result property="typeArr"    column="type_arr"    />
        <result property="typeId"    column="type_id"    />
        <result property="difficulty"    column="difficulty"    />
        <result property="difficultyDegree"    column="difficulty_degree"    />
        <result property="logDate"    column="log_date"    />
        <result property="workload"    column="workload"    />
        <result property="workdetail"    column="workdetail"    />
        <result property="typeMoney"    column="type_money"    />
        <result property="projectId"    column="project_id"    />
        <result property="degree"    column="degree"    />
        <association property="geoType" javaType="SysGeoType" resultMap="SysGeoTypeResult"/>
    </resultMap>

    <resultMap type="SysGeoType" id="SysGeoTypeResult">
        <result property="typeName"    column="type_name"    />
        <result property="unit"    column="unit"    />
    </resultMap>

    <sql id="selectSysGeoLogVo">
        select log_id, log_date, user_id, user_name, create_time from sys_geo_log
    </sql>

    <sql id="selectSysGeoLogDetailVo">
        select a.*,b.* from sys_geo_log as a inner join sys_geo_log_info as b on a.log_id = b.log_id
    </sql>

    <sql id="selectSysGeoLogListDetailVo">
        select a.*,b.*,c.type_name,c.unit from sys_geo_log as a
        inner join sys_geo_log_info as b on a.log_id = b.log_id
        inner join sys_geo_type as c on b.type_id = c.type_id
    </sql>

    <sql id="selectSysGeoLogExportVo">
        select a.*,b.*,c.is_check,c.user_name from sys_geo_log as a
        inner join sys_geo_log_info as b on a.log_id = b.log_id
        inner join sys_geo_user as c on a.user_id = c.user_id
    </sql>

    <select id="selectSysGeoLogListExport" parameterType="SysGeoLog" resultMap="SysGeoLogResult">
        <include refid="selectSysGeoLogExportVo"/>
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(a.log_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(a.log_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="userName != null  and userName != ''"> and a.user_name like concat('%', #{userName}, '%')</if>
            AND a.user_id IN
            <foreach item="userId" collection="lookUserIds" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </where>
        order by a.log_id desc
    </select>

    <select id="selectSysGeoLogList" parameterType="SysGeoLog" resultMap="SysGeoLogResult">
        <include refid="selectSysGeoLogListDetailVo"/>
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(a.log_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(a.log_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="userName != null  and userName != ''"> and a.user_name like concat('%', #{userName}, '%')</if>
            AND a.user_id IN
            <foreach item="userId" collection="lookUserIds" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </where>
        order by a.log_id desc
    </select>

    <select id="selectSysGeoLogByLogId" parameterType="Long" resultMap="SysGeoLogResult">
        <include refid="selectSysGeoLogDetailVo"/>
        where a.log_id = #{logId}
    </select>

    <insert id="insertSysGeoLog" parameterType="SysGeoLog" useGeneratedKeys="true" keyProperty="logId">
        insert into sys_geo_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logDate != null">log_date,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logDate != null">#{logDate},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSysGeoLog" parameterType="SysGeoLog">
        update sys_geo_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="logDate != null">log_date = #{logDate},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteSysGeoLogByLogId" parameterType="Long">
        delete from sys_geo_log where log_id = #{logId}
    </delete>

    <delete id="deleteSysGeoLogByLogIds" parameterType="String">
        delete from sys_geo_log where log_id in
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>

    <select id="selectSysGeoLogByUserIdAndDate" parameterType="SysGeoLog" resultMap="SysGeoLogResult">
        <include refid="selectSysGeoLogVo"/>
        where log_date = #{logDate} and user_id = #{userId}
    </select>

    <select id="selectSysGeoLogByUserIdAndDateNotSelf" parameterType="SysGeoLog" resultMap="SysGeoLogResult">
        <include refid="selectSysGeoLogVo"/>
        where log_date = #{logDate} and user_id = #{userId} and log_id != #{logId}
    </select>

    <select id="selectSysGeoLogListExportByDate" parameterType="SysGeoLog" resultMap="SysGeoLogResult">
        <include refid="selectSysGeoLogExportVo"/>
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(a.log_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(a.log_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by a.log_id desc
    </select>
</mapper>