<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysGeoHolidayMapper">
    
    <resultMap type="SysGeoHoliday" id="SysGeoHolidayResult">
        <result property="holidayId"    column="holiday_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="start"    column="start"    />
        <result property="end"    column="end"    />
        <result property="day"    column="day"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysGeoHolidayVo">
        select holiday_id, user_id, user_name, start, end, day, remark from sys_geo_holiday
    </sql>

    <select id="selectSysGeoHolidayList" parameterType="SysGeoHoliday" resultMap="SysGeoHolidayResult">
        <include refid="selectSysGeoHolidayVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        </where>
        order by holiday_id desc
    </select>
    
    <select id="selectSysGeoHolidayByHolidayId" parameterType="Long" resultMap="SysGeoHolidayResult">
        <include refid="selectSysGeoHolidayVo"/>
        where holiday_id = #{holidayId}
    </select>
        
    <insert id="insertSysGeoHoliday" parameterType="SysGeoHoliday" useGeneratedKeys="true" keyProperty="holidayId">
        insert into sys_geo_holiday
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="start != null">start,</if>
            <if test="end != null">end,</if>
            <if test="day != null">day,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="start != null">#{start},</if>
            <if test="end != null">#{end},</if>
            <if test="day != null">#{day},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysGeoHoliday" parameterType="SysGeoHoliday">
        update sys_geo_holiday
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="start != null">start = #{start},</if>
            <if test="end != null">end = #{end},</if>
            <if test="day != null">day = #{day},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where holiday_id = #{holidayId}
    </update>

    <delete id="deleteSysGeoHolidayByHolidayId" parameterType="Long">
        delete from sys_geo_holiday where holiday_id = #{holidayId}
    </delete>

    <delete id="deleteSysGeoHolidayByHolidayIds" parameterType="String">
        delete from sys_geo_holiday where holiday_id in 
        <foreach item="holidayId" collection="array" open="(" separator="," close=")">
            #{holidayId}
        </foreach>
    </delete>

    <select id="selectSysGeoHolidayListForLog" parameterType="SysGeoLog" resultMap="SysGeoHolidayResult">
        <include refid="selectSysGeoHolidayVo"/>
        <where>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND ((date_format(start,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d') AND date_format(start ,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')) OR (date_format(end,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d') AND date_format(end ,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')))
            </if>
        </where>
        order by holiday_id desc
    </select>
</mapper>