<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysJobSpecificationMapper">
    
    <resultMap type="SysJobSpecification" id="SysJobSpecificationResult">
        <result property="jobId"    column="job_id"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="standard"    column="standard"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <collection property="manageFile" javaType="java.util.List" resultMap="manageFileResult"/>
        <collection property="user" column="user_name" javaType="SysUser" resultMap="jobSpecificationUserResult"/>
    </resultMap>

    <resultMap id="jobSpecificationUserResult" type="SysUser">
        <result property="userName" column="user_name"/>
    </resultMap>

    <resultMap type="SysManageFile" id="manageFileResult">
        <result property="fileId" column="file_id"/>
        <result property="newFileName" column="new_file_name"/>
        <result property="oldFileName" column="old_file_name"/>
        <result property="url" column="url"/>
        <result property="fileName" column="file_name"/>
        <result property="moduleId" column="module_id"/>
        <result property="moduleType" column="module_type"/>
    </resultMap>

    <sql id="selectSysJobSpecificationVo">
        select k.*, f.new_file_name, f.old_file_name, f.url, f.file_name, u.user_name
        from sys_job_specification k
                 inner join sys_manage_file f on k.job_id = f.module_id and f.module_type = 3
                 inner join sys_user u on k.user_id = u.user_id
    </sql>

    <select id="selectSysJobSpecificationList" parameterType="SysJobSpecification" resultMap="SysJobSpecificationResult">
        <include refid="selectSysJobSpecificationVo"/>
        <where>
            <if test="title != null  and title != ''">and (k.title LIKE CONCAT('%', #{title}, '%') or f.old_file_name
                LIKE CONCAT('%', #{title}, '%'))
            </if>
            <if test="standard != null  and standard != ''">and k.standard LIKE CONCAT('%', #{standard}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(k.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(k.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by k.job_id desc
    </select>
    
    <select id="selectSysJobSpecificationByJobId" parameterType="Long" resultMap="SysJobSpecificationResult">
        <include refid="selectSysJobSpecificationVo"/>
        where job_id = #{jobId}
    </select>
        
    <insert id="insertSysJobSpecification" parameterType="SysJobSpecification" useGeneratedKeys="true" keyProperty="jobId">
        insert into sys_job_specification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="standard != null and standard != ''">standard,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="standard != null and standard != ''">#{standard},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysJobSpecification" parameterType="SysJobSpecification">
        update sys_job_specification
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="standard != null and standard != ''">standard = #{standard},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where job_id = #{jobId}
    </update>

    <delete id="deleteSysJobSpecificationByJobId" parameterType="Long">
        delete from sys_job_specification where job_id = #{jobId}
    </delete>

    <delete id="deleteSysJobSpecificationByJobIds" parameterType="com.kcylog.system.param.JobSpecificationParams">
        delete from sys_job_specification where job_id in 
        <foreach item="jobId" collection="jobIds" open="(" separator="," close=")">
            #{jobId}
        </foreach>
        and user_id = #{userId}
    </delete>
</mapper>