<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysProjectMapper">
    
    <resultMap type="SysProject" id="SysProjectResult">
        <result property="projectId"    column="project_id"    />
        <result property="projectNameAlias"    column="project_name_alias"    />
        <result property="projectNum"    column="project_num"    />
        <result property="projectType"    column="project_type"    />
        <result property="registerTime"    column="register_time"    />
        <result property="receptionist"    column="receptionist"    />
        <result property="workloadAlias"    column="workload_alias"    />
        <result property="workcontentAlias"    column="workcontent_alias"    />
        <result property="userNameAlias"    column="user_name_alias"    />
        <result property="requesterAlias"    column="requester_alias"    />
        <result property="projectStartAlias"    column="project_start_alias"    />
        <result property="projectEndAlias"    column="project_end_alias"    />
        <result property="oneCheck"    column="one_check"    />
        <result property="twoCheck"    column="two_check"    />
        <result property="outputStatus"    column="output_status"    />
        <result property="twoCheckTime"    column="two_check_time"    />
        <result property="isTwoCheck"    column="is_two_check"    />
        <result property="noticeTime"    column="notice_time"    />
        <result property="projectTime"    column="project_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="projectMoneyAlias"    column="project_money_alias"    />
        <result property="operate"    column="operate"    />
        <result property="operateUser"    column="operate_user"    />
        <result property="operateTime"    column="operate_time"    />
        <result property="isCarRegister"    column="is_car_register"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <association property="projectValue" javaType="java.util.List" resultMap="SysProjectValueResult"/>
        <association property="projectCar" javaType="java.util.List" resultMap="SysProjectCarResult"/>
        <association property="reviewSub" javaType="java.util.List" resultMap="SysReviewSubResult"/>
    </resultMap>

    <resultMap type="SysReviewSub" id="SysReviewSubResult">
        <!--雇工信息-->
        <result property="workload"    column="workload"    />
        <result property="porjectMoney"    column="porject_money"    />
        <result property="subcontract"    column="subcontract"    />
        <result property="employmentReason"    column="employment_reason"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="peopleNum"    column="people_num"    />
        <result property="budgetDay"    column="budget_day"    />
        <result property="budgetMoney"    column="budget_money"    />
        <!--分包信息-->
        <result property="workcontent"    column="workcontent"    />
        <result property="subType"    column="sub_type"    />
        <result property="subWorkload"    column="sub_workload"    />
        <result property="realWorkload"    column="real_workload"    />
        <result property="winUnit"    column="win_unit"    />
        <result property="lotTime"    column="lot_time"    />
    </resultMap>

    <resultMap type="SysProjectCar" id="SysProjectCarResult">
        <result property="projectName"    column="project_name"    />
        <result property="carNum"    column="car_num"    />
        <result property="carType"    column="car_type"    />
        <result property="number"    column="number"    />
        <result property="carExpenses"    column="car_expenses"    />
        <result property="recordTime"    column="record_time"    />
    </resultMap>

    <resultMap type="SysProjectValue" id="SysProjectValueResult">
        <result property="userName"    column="user_name"    />
        <result property="proportion"    column="proportion"    />
    </resultMap>

    <sql id="selectSysProjectVo">
        select p.* from sys_project p
    </sql>

    <sql id="selectSysProjectDetail">
        select p.*, v.user_name, v.proportion, c.project_name, c.car_num, c.car_type, c.number, c.car_expenses, c.record_time
        from sys_project p left join sys_project_value v on p.project_id = v.project_id
                           left join sys_project_car c on p.project_id = c.project_id
    </sql>

    <select id="selectSysProjectList" parameterType="SysProject" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        <where>  
            <if test="projectNameAlias != null  and projectNameAlias != ''"> and project_name_alias like concat('%', #{projectNameAlias}, '%')</if>
            <if test="projectNum != null  and projectNum != ''"> and project_num like concat('%', #{projectNum}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and (date_format(two_check_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d'))
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and (date_format(two_check_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d'))
            </if>
        </where>
        order by p.project_id desc
    </select>
    
    <select id="selectSysProjectByProjectId" parameterType="String" resultMap="SysProjectResult">
        <include refid="selectSysProjectDetail"/>
        where p.project_id = #{projectId}
    </select>
        
    <insert id="insertSysProject" parameterType="SysProject" useGeneratedKeys="true" keyProperty="projectId">
        insert into sys_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectNameAlias != null and projectNameAlias != ''">project_name_alias,</if>
            <if test="projectNum != null and projectNum != ''">project_num,</if>
            <if test="projectType != null and projectType != ''">project_type,</if>
            <if test="registerTime != null and registerTime != ''">register_time,</if>
            <if test="receptionist != null and receptionist != ''">receptionist,</if>
            <if test="workloadAlias != null">workload_alias,</if>
            <if test="workcontentAlias != null">workcontent_alias,</if>
            <if test="userNameAlias != null and userNameAlias != ''">user_name_alias,</if>
            <if test="requesterAlias != null and requesterAlias != ''">requester_alias,</if>
            <if test="projectStartAlias != null and projectStartAlias != ''">project_start_alias,</if>
            <if test="projectEndAlias != null and projectEndAlias != ''">project_end_alias,</if>
            <if test="oneCheck != null and oneCheck != ''">one_check,</if>
            <if test="twoCheck != null and twoCheck != ''">two_check,</if>
            <if test="noticeTime != null and noticeTime != ''">notice_time,</if>
            <if test="projectTime != null and projectTime != ''">project_time,</if>
            <if test="deliveryTime != null and deliveryTime != ''">delivery_time,</if>
            <if test="projectMoneyAlias != null">project_money_alias,</if>
            <if test="operate != null">operate,</if>
            <if test="operateUser != null and operateUser != ''">operate_user,</if>
            <if test="operateTime != null">operate_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectNameAlias != null and projectNameAlias != ''">#{projectNameAlias},</if>
            <if test="projectNum != null and projectNum != ''">#{projectNum},</if>
            <if test="projectType != null and projectType != ''">#{projectType},</if>
            <if test="registerTime != null and registerTime != ''">#{registerTime},</if>
            <if test="receptionist != null and receptionist != ''">#{receptionist},</if>
            <if test="workloadAlias != null">#{workloadAlias},</if>
            <if test="workcontentAlias != null">#{workcontentAlias},</if>
            <if test="userNameAlias != null and userNameAlias != ''">#{userNameAlias},</if>
            <if test="requesterAlias != null and requesterAlias != ''">#{requesterAlias},</if>
            <if test="projectStartAlias != null and projectStartAlias != ''">#{projectStartAlias},</if>
            <if test="projectEndAlias != null and projectEndAlias != ''">#{projectEndAlias},</if>
            <if test="oneCheck != null and oneCheck != ''">#{oneCheck},</if>
            <if test="twoCheck != null and twoCheck != ''">#{twoCheck},</if>
            <if test="noticeTime != null and noticeTime != ''">#{noticeTime},</if>
            <if test="projectTime != null and projectTime != ''">#{projectTime},</if>
            <if test="deliveryTime != null and deliveryTime != ''">#{deliveryTime},</if>
            <if test="projectMoneyAlias != null">#{projectMoneyAlias},</if>
            <if test="operate != null">#{operate},</if>
            <if test="operateUser != null and operateUser != ''">#{operateUser},</if>
            <if test="operateTime != null">#{operateTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysProject" parameterType="SysProject">
        update sys_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectNameAlias != null and projectNameAlias != ''">project_name_alias = #{projectNameAlias},</if>
            <if test="projectNum != null and projectNum != ''">project_num = #{projectNum},</if>
            <if test="projectType != null and projectType != ''">project_type = #{projectType},</if>
            <if test="registerTime != null and registerTime != ''">register_time = #{registerTime},</if>
            <if test="receptionist != null and receptionist != ''">receptionist = #{receptionist},</if>
            <if test="workloadAlias != null">workload_alias = #{workloadAlias},</if>
            <if test="workcontentAlias != null">workcontent_alias = #{workcontentAlias},</if>
            <if test="userNameAlias != null and userNameAlias != ''">user_name_alias = #{userNameAlias},</if>
            <if test="requesterAlias != null and requesterAlias != ''">requester_alias = #{requesterAlias},</if>
            <if test="projectStartAlias != null and projectStartAlias != ''">project_start_alias = #{projectStartAlias},</if>
            <if test="projectEndAlias != null and projectEndAlias != ''">project_end_alias = #{projectEndAlias},</if>
            <if test="oneCheck != null and oneCheck != ''">one_check = #{oneCheck},</if>
            <if test="twoCheck != null and twoCheck != ''">two_check = #{twoCheck},</if>
            <if test="twoCheckTime != null and twoCheckTime != ''">two_check_time = #{twoCheckTime},</if>
            <if test="isTwoCheck != null and isTwoCheck != 0">is_two_check = #{isTwoCheck},</if>
            <if test="noticeTime != null and noticeTime != ''">notice_time = #{noticeTime},</if>
            <if test="projectTime != null and projectTime != ''">project_time = #{projectTime},</if>
            <if test="deliveryTime != null and deliveryTime != ''">delivery_time = #{deliveryTime},</if>
            <if test="projectMoneyAlias != null">project_money_alias = #{projectMoneyAlias},</if>
            <if test="operate != null">operate = #{operate},</if>
            <if test="operateUser != null and operateUser != ''">operate_user = #{operateUser},</if>
            <if test="operateTime != null">operate_time = #{operateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteSysProjectByProjectId" parameterType="String">
        delete from sys_project where project_id = #{projectId}
    </delete>

    <delete id="deleteSysProjectByProjectIds" parameterType="String">
        delete from sys_project where project_id in 
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>

    <update id="updateSysProjectByProjectNum" parameterType="SysProject">
        update sys_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectNameAlias != null and projectNameAlias != ''">project_name_alias = #{projectNameAlias},</if>
            <if test="projectType != null and projectType != ''">project_type = #{projectType},</if>
            <if test="registerTime != null and registerTime != ''">register_time = #{registerTime},</if>
            <if test="receptionist != null and receptionist != ''">receptionist = #{receptionist},</if>
            <if test="workloadAlias != null">workload_alias = #{workloadAlias},</if>
            <if test="workcontentAlias != null">workcontent_alias = #{workcontentAlias},</if>
            <if test="userNameAlias != null and userNameAlias != ''">user_name_alias = #{userNameAlias},</if>
            <if test="requesterAlias != null and requesterAlias != ''">requester_alias = #{requesterAlias},</if>
            <if test="projectStartAlias != null and projectStartAlias != ''">project_start_alias = #{projectStartAlias},</if>
            <if test="projectEndAlias != null and projectEndAlias != ''">project_end_alias = #{projectEndAlias},</if>
            <if test="oneCheck != null and oneCheck != ''">one_check = #{oneCheck},</if>
            <if test="twoCheck != null and twoCheck != ''">two_check = #{twoCheck},</if>
            <if test="twoCheckTime != null">two_check_time = #{twoCheckTime},</if>
            <if test="isTwoCheck != null and isTwoCheck != 0">is_two_check = #{isTwoCheck},</if>
            <if test="noticeTime != null and noticeTime != ''">notice_time = #{noticeTime},</if>
            <if test="projectTime != null and projectTime != ''">project_time = #{projectTime},</if>
            <if test="deliveryTime != null and deliveryTime != ''">delivery_time = #{deliveryTime},</if>
            <if test="projectMoneyAlias != null">project_money_alias = #{projectMoneyAlias},</if>
            <if test="operate != null">operate = #{operate},</if>
            <if test="operateUser != null and operateUser != ''">operate_user = #{operateUser},</if>
            <if test="operateTime != null">operate_time = #{operateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where project_num = #{projectNum}
    </update>

    <select id="checkProjectKeyUnique" parameterType="String" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        where project_num = #{projectNum}
    </select>

    <select id="listProjectOperate" parameterType="SysProject" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        <where>
            <if test="projectNameAlias != null  and projectNameAlias != ''"> and project_name like concat('%', #{projectNameAlias}, '%')</if>
            <if test="projectNum != null  and projectNum != ''"> and project_num like concat('%', #{projectNum}, '%')</if>
            <if test="operateUser == 1"> and operate != 0.00</if>
            <if test="operateUser == 2"> and operate = 0.00</if>
            <if test="receptionist != null  and receptionist != ''"> and receptionist = #{receptionist}</if>
            and is_two_check = 1
        </where>
        order by p.project_id desc
    </select>

    <update id="updateOutputStatusByProjectId" parameterType="SysProject">
        update sys_project set  output_status = 1 where project_id = #{projectId}
    </update>

    <sql id="selectSysProjectExport">
        select p.*, v.user_name, v.proportion, c.car_num, c.car_type, c.number, c.car_expenses, c.record_time,
        r.workload, r.porject_money, r.subcontract, r.employment_reason, r.start_time, r.end_time, r.people_num,
        r.budget_day, r.budget_money, r.workcontent, r.sub_type, r.sub_workload, r.real_workload, r.win_unit, r.lot_time
        from sys_project p
        left join sys_project_value v on p.project_id = v.project_id
        left join sys_project_car c on p.project_id = c.project_id
        left join sys_project_relation n on n.project_id = p.project_id
        left join sys_review_sub r on r.review_id = n.review_id
    </sql>
    <select id="selectSysProjectExportList" parameterType="SysProject" resultMap="SysProjectResult">
        <include refid="selectSysProjectExport"/>
        <where>
            <if test="projectNameAlias != null  and projectNameAlias != ''"> and project_name_alias like concat('%', #{projectNameAlias}, '%')</if>
            <if test="projectNum != null  and projectNum != ''"> and project_num like concat('%', #{projectNum}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and (date_format(two_check_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d'))
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and (date_format(two_check_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d'))
            </if>
        </where>
        order by p.project_id desc
    </select>


    <update id="updateLatterTime" parameterType="SysProject">
        update sys_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeTime != null and noticeTime != ''">notice_time = #{noticeTime},</if>
            <if test="projectTime != null and projectTime != ''">project_time = #{projectTime},</if>
            <if test="deliveryTime != null and deliveryTime != ''">delivery_time = #{deliveryTime},</if>
        </trim>
        where project_num = #{projectNum}
    </update>
</mapper>