<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysProjectMapper">
    
    <resultMap type="SysProject" id="SysProjectResult">
        <result property="projectId"    column="project_id"    />
        <result property="projectNameAlias"    column="project_name_alias"    />
        <result property="projectNum"    column="project_num"    />
        <result property="projectType"    column="project_type"    />
        <result property="registerTime"    column="register_time"    />
        <result property="receptionist"    column="receptionist"    />
        <result property="workloadAlias"    column="workload_alias"    />
        <result property="userNameAlias"    column="user_name_alias"    />
        <result property="requesterAlias"    column="requester_alias"    />
        <result property="projectStartAlias"    column="project_start_alias"    />
        <result property="projectEndAlias"    column="project_end_alias"    />
        <result property="oneCheck"    column="one_check"    />
        <result property="twoCheck"    column="two_check"    />
        <result property="noticeTime"    column="notice_time"    />
        <result property="projectTime"    column="project_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="projectMoneyAlias"    column="project_money_alias"    />
        <result property="operate"    column="operate"    />
        <result property="operateUser"    column="operate_user"    />
        <result property="operateTime"    column="operate_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysProjectVo">
        select project_id, project_name_alias, project_num, project_type, register_time, receptionist, workload_alias, user_name_alias, requester_alias, project_start_alias, project_end_alias, one_check, two_check, notice_time, project_time, delivery_time, project_money_alias, operate, operate_user, operate_time, create_time, update_time from sys_project
    </sql>

    <select id="selectSysProjectList" parameterType="SysProject" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        <where>  
            <if test="projectNameAlias != null  and projectNameAlias != ''"> and project_name like concat('%', #{projectNameAlias}, '%')</if>
            <if test="projectNum != null  and projectNum != ''"> and project_num like concat('%', #{projectNum}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysProjectByProjectId" parameterType="String" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        where project_id = #{projectId}
    </select>
        
    <insert id="insertSysProject" parameterType="SysProject" useGeneratedKeys="true" keyProperty="projectId">
        insert into sys_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectNameAlias != null and projectNameAlias != ''">project_name_alias,</if>
            <if test="projectNum != null and projectNum != ''">project_num,</if>
            <if test="projectType != null and projectType != ''">project_type,</if>
            <if test="registerTime != null and registerTime != ''">register_time,</if>
            <if test="receptionist != null and receptionist != ''">receptionist,</if>
            <if test="workloadAlias != null">workload_alias,</if>
            <if test="userNameAlias != null and userNameAlias != ''">user_name_alias,</if>
            <if test="requesterAlias != null and requesterAlias != ''">requester_alias,</if>
            <if test="projectStartAlias != null and projectStartAlias != ''">project_start_alias,</if>
            <if test="projectEndAlias != null and projectEndAlias != ''">project_end_alias,</if>
            <if test="oneCheck != null and oneCheck != ''">one_check,</if>
            <if test="twoCheck != null and twoCheck != ''">two_check,</if>
            <if test="noticeTime != null and noticeTime != ''">notice_time,</if>
            <if test="projectTime != null and projectTime != ''">project_time,</if>
            <if test="deliveryTime != null and deliveryTime != ''">delivery_time,</if>
            <if test="projectMoneyAlias != null">project_money_alias,</if>
            <if test="operate != null">operate,</if>
            <if test="operateUser != null and operateUser != ''">operate_user,</if>
            <if test="operateTime != null">operate_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectNameAlias != null and projectNameAlias != ''">#{projectNameAlias},</if>
            <if test="projectNum != null and projectNum != ''">#{projectNum},</if>
            <if test="projectType != null and projectType != ''">#{projectType},</if>
            <if test="registerTime != null and registerTime != ''">#{registerTime},</if>
            <if test="receptionist != null and receptionist != ''">#{receptionist},</if>
            <if test="workloadAlias != null">#{workloadAlias},</if>
            <if test="userNameAlias != null and userNameAlias != ''">#{userNameAlias},</if>
            <if test="requesterAlias != null and requesterAlias != ''">#{requesterAlias},</if>
            <if test="projectStartAlias != null and projectStartAlias != ''">#{projectStartAlias},</if>
            <if test="projectEndAlias != null and projectEndAlias != ''">#{projectEndAlias},</if>
            <if test="oneCheck != null and oneCheck != ''">#{oneCheck},</if>
            <if test="twoCheck != null and twoCheck != ''">#{twoCheck},</if>
            <if test="noticeTime != null and noticeTime != ''">#{noticeTime},</if>
            <if test="projectTime != null and projectTime != ''">#{projectTime},</if>
            <if test="deliveryTime != null and deliveryTime != ''">#{deliveryTime},</if>
            <if test="projectMoneyAlias != null">#{projectMoneyAlias},</if>
            <if test="operate != null">#{operate},</if>
            <if test="operateUser != null and operateUser != ''">#{operateUser},</if>
            <if test="operateTime != null">#{operateTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysProject" parameterType="SysProject">
        update sys_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectNameAlias != null and projectNameAlias != ''">project_name_alias = #{projectNameAlias},</if>
            <if test="projectNum != null and projectNum != ''">project_num = #{projectNum},</if>
            <if test="projectType != null and projectType != ''">project_type = #{projectType},</if>
            <if test="registerTime != null and registerTime != ''">register_time = #{registerTime},</if>
            <if test="receptionist != null and receptionist != ''">receptionist = #{receptionist},</if>
            <if test="workloadAlias != null">workload_alias = #{workloadAlias},</if>
            <if test="userNameAlias != null and userNameAlias != ''">user_name_alias = #{userNameAlias},</if>
            <if test="requesterAlias != null and requesterAlias != ''">requester_alias = #{requesterAlias},</if>
            <if test="projectStartAlias != null and projectStartAlias != ''">project_start_alias = #{projectStartAlias},</if>
            <if test="projectEndAlias != null and projectEndAlias != ''">project_end_alias = #{projectEndAlias},</if>
            <if test="oneCheck != null and oneCheck != ''">one_check = #{oneCheck},</if>
            <if test="twoCheck != null and twoCheck != ''">two_check = #{twoCheck},</if>
            <if test="noticeTime != null and noticeTime != ''">notice_time = #{noticeTime},</if>
            <if test="projectTime != null and projectTime != ''">project_time = #{projectTime},</if>
            <if test="deliveryTime != null and deliveryTime != ''">delivery_time = #{deliveryTime},</if>
            <if test="projectMoneyAlias != null">project_money_alias = #{projectMoneyAlias},</if>
            <if test="operate != null">operate = #{operate},</if>
            <if test="operateUser != null and operateUser != ''">operate_user = #{operateUser},</if>
            <if test="operateTime != null">operate_time = #{operateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteSysProjectByProjectId" parameterType="String">
        delete from sys_project where project_id = #{projectId}
    </delete>

    <delete id="deleteSysProjectByProjectIds" parameterType="String">
        delete from sys_project where project_id in 
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>
</mapper>