<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysProjectCarMapper">
    
    <resultMap type="SysProjectCar" id="SysProjectCarResult">
        <result property="carId"    column="car_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="carReviewId"    column="car_review_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="carNum"    column="car_num"    />
        <result property="carType"    column="car_type"    />
        <result property="number"    column="number"    />
        <result property="carExpenses"    column="car_expenses"    />
    </resultMap>

    <sql id="selectSysProjectCarVo">
        select car_id, project_id, car_review_id, project_name, car_num, car_type, number, car_expenses from sys_project_car
    </sql>

    <select id="selectSysProjectCarList" parameterType="SysProjectCar" resultMap="SysProjectCarResult">
        <include refid="selectSysProjectCarVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="carReviewId != null "> and car_review_id = #{carReviewId}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="carNum != null  and carNum != ''"> and car_num = #{carNum}</if>
            <if test="carType != null "> and car_type = #{carType}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="carExpenses != null "> and car_expenses = #{carExpenses}</if>
        </where>
    </select>
    
    <select id="selectSysProjectCarByCarId" parameterType="Long" resultMap="SysProjectCarResult">
        <include refid="selectSysProjectCarVo"/>
        where car_id = #{carId}
    </select>
        
    <insert id="insertSysProjectCar" parameterType="SysProjectCar" useGeneratedKeys="true" keyProperty="carId">
        insert into sys_project_car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="carReviewId != null">car_review_id,</if>
            <if test="projectName != null">project_name,</if>
            <if test="carNum != null">car_num,</if>
            <if test="carType != null">car_type,</if>
            <if test="number != null">number,</if>
            <if test="carExpenses != null">car_expenses,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="carReviewId != null">#{carReviewId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="carNum != null">#{carNum},</if>
            <if test="carType != null">#{carType},</if>
            <if test="number != null">#{number},</if>
            <if test="carExpenses != null">#{carExpenses},</if>
         </trim>
    </insert>

    <update id="updateSysProjectCar" parameterType="SysProjectCar">
        update sys_project_car
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="carReviewId != null">car_review_id = #{carReviewId},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="carNum != null">car_num = #{carNum},</if>
            <if test="carType != null">car_type = #{carType},</if>
            <if test="number != null">number = #{number},</if>
            <if test="carExpenses != null">car_expenses = #{carExpenses},</if>
        </trim>
        where car_id = #{carId}
    </update>

    <delete id="deleteSysProjectCarByCarId" parameterType="Long">
        delete from sys_project_car where car_id = #{carId}
    </delete>

    <delete id="deleteSysProjectCarByCarIds" parameterType="String">
        delete from sys_project_car where car_id in 
        <foreach item="carId" collection="array" open="(" separator="," close=")">
            #{carId}
        </foreach>
    </delete>

    <insert id="insertProjectCarBatch" parameterType="java.util.List">
        insert into sys_project_car (project_id, project_name, car_review_id, car_num, car_type, number, car_expenses)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.projectId}, #{item.projectName}, #{item.carReviewId}, #{item.carNum}, #{item.carType}, #{item.number}, #{item.carExpenses})
        </foreach>
    </insert>

    <delete id="deleteProjectCarByCarReviewIds" parameterType="String">
        delete from sys_project_car where car_review_id in
        <foreach item="carReviewId" collection="array" open="(" separator="," close=")">
            #{carReviewId}
        </foreach>
    </delete>

    <delete id="deleteProjectCarByCarReviewId" parameterType="Long">
        delete from sys_project_car where car_review_id = #{carReviewId}
    </delete>
</mapper>