<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysReviewSubSettlementMapper">
    
    <resultMap type="SysReviewSubSettlement" id="SysReviewSubSettlementResult">
        <result property="settlementId"    column="settlement_id"    />
        <result property="settlementName"    column="settlement_name"    />
        <result property="userName"    column="user_name"    />
        <result property="userId"    column="user_id"    />
        <result property="isSettlement"    column="is_settlement"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysReviewSubSettlementVo">
        select settlement_id, settlement_name, user_name, user_id, is_settlement, create_time, update_time from sys_review_sub_settlement
    </sql>

    <select id="selectSysReviewSubSettlementList" parameterType="SysReviewSubSettlement" resultMap="SysReviewSubSettlementResult">
        <include refid="selectSysReviewSubSettlementVo"/>
        <where>  
            <if test="settlementName != null  and settlementName != ''"> and settlement_name like concat('%', #{settlementName}, '%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="isSettlement != null"> and is_settlement = #{isSettlement}</if>
        </where>
        order by settlement_id desc
    </select>
    
    <select id="selectSysReviewSubSettlementBySettlementId" parameterType="Long" resultMap="SysReviewSubSettlementResult">
        <include refid="selectSysReviewSubSettlementVo"/>
        where settlement_id = #{settlementId}
    </select>
        
    <insert id="insertSysReviewSubSettlement" parameterType="SysReviewSubSettlement" useGeneratedKeys="true" keyProperty="settlementId">
        insert into sys_review_sub_settlement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="settlementName != null and settlementName != ''">settlement_name,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="isSettlement != null and isSettlement != ''">is_settlement,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="settlementName != null and settlementName != ''">#{settlementName},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="isSettlement != null and isSettlement != ''">#{isSettlement},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysReviewSubSettlement" parameterType="SysReviewSubSettlement">
        update sys_review_sub_settlement
        <trim prefix="SET" suffixOverrides=",">
            <if test="settlementName != null and settlementName != ''">settlement_name = #{settlementName},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="isSettlement != null and isSettlement != ''">is_settlement = #{isSettlement},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where settlement_id = #{settlementId}
    </update>

    <delete id="deleteSysReviewSubSettlementBySettlementId" parameterType="Long">
        delete from sys_review_sub_settlement where settlement_id = #{settlementId}
    </delete>

    <delete id="deleteSysReviewSubSettlementBySettlementIds" parameterType="String">
        delete from sys_review_sub_settlement where settlement_id in 
        <foreach item="settlementId" collection="array" open="(" separator="," close=")">
            #{settlementId}
        </foreach>
    </delete>

    <update id="updateIsSettlementBySettlementId" parameterType="Long">
        update sys_review_sub_settlement
        set is_settlement = 1
        where settlement_id = #{settlementId}
    </update>
</mapper>