<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysReviewSubMapper">
    
    <resultMap type="SysReviewSub" id="SysReviewSubResult">
        <result property="reviewId"    column="review_id"    />
        <result property="serialNum"    column="serial_num"    />
        <result property="projectName"    column="project_name"    />
        <result property="requester"    column="requester"    />
        <result property="porjectMoney"    column="porject_money"    />
        <result property="workload"    column="workload"    />
        <result property="employmentReason"    column="employment_reason"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="status"    column="status"    />
        <result property="finalSecondStatus"    column="final_second_status"    />
        <result property="finalHire"    column="final_hire"    />
        <result property="peopleNum"    column="people_num"    />
        <result property="startEdit"    column="start_edit"    />
        <result property="subcontract"    column="subcontract"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="projectStart"    column="project_start"    />
        <result property="projectEnd"    column="project_end"    />
        <result property="budgetDay"    column="budget_day"    />
        <result property="budgetMoney"    column="budget_money"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="finalTime"    column="final_time"    />

        <result property="lotTime"    column="lot_time"    />
        <result property="businessName"    column="business_name"    />
        <result property="cooperationUnit"    column="cooperation_unit"    />
        <result property="winUnit"    column="win_unit"    />
        <result property="workcontent"    column="workcontent"    />
        <result property="isPrint"    column="is_print"    />
        <result property="cpStartTime"    column="cp_start_time"    />
        <result property="cpEndTime"    column="cp_end_time"    />
        <result property="subType"    column="sub_type"    />
        <result property="subCost"    column="sub_cost"    />
        <result property="subWorkload"    column="sub_workload"    />
        <result property="realWorkload"    column="real_workload"    />

        <association property="dept" column="dept_name" javaType="SysDept" resultMap="SysReviewSubDeptResult"/>
        <association property="user" column="user_name" javaType="SysUser" resultMap="SysReviewSubUserResult"/>
        <association property="reviewEmployee" javaType="java.util.List" resultMap="SysReviewSubReviewEmployeeResult"/>
        <association property="projectRelation" column="projectId" javaType="SysProjectRelation" resultMap="SysProjectRelationResult"/>
        <association property="project" javaType="SysProject" resultMap="SysProjectResult"/>
    </resultMap>

    <resultMap type="SysProject" id="SysProjectResult">
        <result property="projectId"    column="project_id"    />
        <result property="projectNameAlias"    column="project_name_alias"    />
        <result property="projectNum"    column="project_num"    />
        <result property="projectType"    column="project_type"    />
        <result property="registerTime"    column="register_time"    />
        <result property="receptionist"    column="receptionist"    />
        <result property="workloadAlias"    column="workload_alias"    />
        <result property="workcontentAlias"    column="workcontent_alias"    />
        <result property="userNameAlias"    column="user_name_alias"    />
        <result property="requesterAlias"    column="requester_alias"    />
        <result property="projectStartAlias"    column="project_start_alias"    />
        <result property="projectEndAlias"    column="project_end_alias"    />
        <result property="oneCheck"    column="one_check"    />
        <result property="twoCheck"    column="two_check"    />
        <result property="noticeTime"    column="notice_time"    />
        <result property="projectTime"    column="project_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="projectMoneyAlias"    column="project_money_alias"    />
        <result property="operate"    column="operate"    />
        <result property="operateUser"    column="operate_user"    />
        <result property="operateTime"    column="operate_time"    />
    </resultMap>

    <resultMap type="SysProjectRelation" id="SysProjectRelationResult">
        <result property="projectId"    column="project_id"    />
    </resultMap>

    <resultMap type="SysReviewEmployee" id="SysReviewSubReviewEmployeeResult">
        <result property="reviewEmployeeId"    column="review_employee_id"    />
        <result property="name"    column="name"    />
        <result property="idCard"    column="id_card"    />
        <result property="workTime"    column="work_time"    />
        <result property="workDay"    column="work_day"    />
        <result property="cost"    column="cost"    />
        <result property="reviewId"    column="review_id"    />
    </resultMap>

    <resultMap id="SysReviewSubDeptResult" type="SysDept">
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <resultMap id="SysReviewSubUserResult" type="SysUser">
        <result property="userName" column="user_name"/>
    </resultMap>


    <sql id="selectSysReviewSubVo">
        select r.*, d.dept_name, u.user_name, p.project_id, pp.* from sys_review_sub r
        inner join sys_dept d on r.dept_id = d.dept_id
        inner join sys_user u on r.user_id = u.user_id
        left join sys_project_relation p on r.review_id = p.review_id and p.review_type = 1
        left join sys_project pp on p.project_id = pp.project_id
    </sql>

    <select id="selectSysReviewSubList" parameterType="SysReviewSub" resultMap="SysReviewSubResult">
        <include refid="selectSysReviewSubVo"/>
        <where>  
            <if test="serialNum != null  and serialNum != ''"> and r.serial_num like concat('%', #{serialNum}, '%')</if>
            <if test="projectName != null  and projectName != ''"> and r.project_name like concat('%', #{projectName}, '%')</if>
            <if test="requester != null  and requester != ''"> and r.requester = #{requester}</if>
            <if test="status != null "> and r.status = #{status}</if>
            <if test="userId != null  and userId != ''"> and r.user_id = #{userId}</if>
            <if test="deptId != null  and deptId != ''"> and r.dept_id = #{deptId}</if>
            <if test="finalHire != null"> and r.final_hire = #{finalHire}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by r.review_id desc
    </select>
    
    <select id="selectSysReviewSubByReviewId" parameterType="String" resultMap="SysReviewSubResult">
        <include refid="selectSysReviewSubVo"/>
        where r.review_id = #{reviewId}
    </select>

    <insert id="insertSysReviewSub" parameterType="SysReviewSub" useGeneratedKeys="true" keyProperty="reviewId">
        insert into sys_review_sub
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNum != null and serialNum != ''">serial_num,</if>
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="requester != null and requester != ''">requester,</if>
            <if test="porjectMoney != null">porject_money,</if>
            <if test="workload != null">workload,</if>
            <if test="employmentReason != null">employment_reason,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="deptId != null and deptId != ''">dept_id,</if>
            <if test="status != null">status,</if>
            <if test="peopleNum != null and peopleNum != ''">people_num,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="projectStart != null">project_start,</if>
            <if test="projectEnd != null">project_end,</if>
            <if test="budgetDay != null">budget_day,</if>
            <if test="budgetMoney != null">budget_money,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="finalTime != null">final_time,</if>
            <if test="subcontract != null">subcontract,</if>

            <if test="lotTime != null">lot_time,</if>
            <if test="businessName != null">business_name,</if>
            <if test="cooperationUnit != null">cooperation_unit,</if>
            <if test="winUnit != null">win_unit,</if>
            <if test="workcontent != null">workcontent,</if>
            <if test="isPrint != null">is_print,</if>
            <if test="cpStartTime != null">cp_start_time,</if>
            <if test="cpEndTime != null">cp_end_time,</if>
            <if test="subType != null">sub_type,</if>
            <if test="subCost != null">sub_cost,</if>
            <if test="subWorkload != null">sub_workload,</if>
            <if test="realWorkload != null">real_workload,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNum != null and serialNum != ''">#{serialNum},</if>
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="requester != null and requester != ''">#{requester},</if>
            <if test="porjectMoney != null">#{porjectMoney},</if>
            <if test="workload != null">#{workload},</if>
            <if test="employmentReason != null">#{employmentReason},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="deptId != null and deptId != ''">#{deptId},</if>
            <if test="status != null">#{status},</if>
            <if test="peopleNum != null and peopleNum != ''">#{peopleNum},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="projectStart != null">#{projectStart},</if>
            <if test="projectEnd != null">#{projectEnd},</if>
            <if test="budgetDay != null">#{budgetDay},</if>
            <if test="budgetMoney != null">#{budgetMoney},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="finalTime != null">#{finalTime},</if>
            <if test="subcontract != null">#{subcontract},</if>

            <if test="lotTime != null">#{lotTime},</if>
            <if test="businessName != null">#{businessName},</if>
            <if test="cooperationUnit != null">#{cooperationUnit},</if>
            <if test="winUnit != null">#{winUnit},</if>
            <if test="workcontent != null">#{workcontent},</if>
            <if test="isPrint != null">#{isPrint},</if>
            <if test="cpStartTime != null">#{cpStartTime},</if>
            <if test="cpEndTime != null">#{cpEndTime},</if>
            <if test="subType != null">#{subType},</if>
            <if test="subCost != null">#{subCost},</if>
            <if test="subWorkload != null">#{subWorkload},</if>
            <if test="realWorkload != null">#{realWorkload},</if>

         </trim>
    </insert>

    <update id="updateSysReviewSub" parameterType="SysReviewSub">
        update sys_review_sub
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNum != null and serialNum != ''">serial_num = #{serialNum},</if>
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="requester != null and requester != ''">requester = #{requester},</if>
            <if test="porjectMoney != null">porject_money = #{porjectMoney},</if>
            <if test="workload != null">workload = #{workload},</if>
            <if test="employmentReason != null">employment_reason = #{employmentReason},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="deptId != null and deptId != ''">dept_id = #{deptId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="peopleNum != null and peopleNum != ''">people_num = #{peopleNum},</if>
            <if test="startEdit != null">start_edit = #{startEdit},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            project_start = #{projectStart},
            project_end = #{projectEnd},
            <if test="budgetDay != null">budget_day = #{budgetDay},</if>
            <if test="budgetMoney != null">budget_money = #{budgetMoney},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="finalTime != null">final_time = #{finalTime},</if>
            <if test="subcontract != null">subcontract = #{subcontract},</if>

            <if test="lotTime != null">lot_time = #{lotTime},</if>
            <if test="businessName != null">business_name = #{businessName},</if>
            <if test="cooperationUnit != null">cooperation_unit = #{cooperationUnit},</if>
            <if test="winUnit != null">win_unit = #{winUnit},</if>
            <if test="workcontent != null">workcontent = #{workcontent},</if>
            <if test="isPrint != null">is_print = #{isPrint},</if>
            <if test="cpStartTime != null">cp_start_time = #{cpStartTime},</if>
            <if test="cpEndTime != null">cp_end_time = #{cpEndTime},</if>
            <if test="subType != null">sub_type = #{subType},</if>
            <if test="subCost != null">sub_cost = #{subCost},</if>
            <if test="subWorkload != null">sub_workload = #{subWorkload},</if>
            <if test="realWorkload != null">real_workload = #{realWorkload},</if>

        </trim>
        where review_id = #{reviewId}
    </update>

    <delete id="deleteSysReviewSubByReviewId" parameterType="String">
        delete from sys_review_sub where review_id = #{reviewId}
    </delete>

    <delete id="deleteSysReviewSubByReviewIds" parameterType="String">
        delete from sys_review_sub where review_id in
        <foreach item="reviewId" collection="array" open="(" separator="," close=")">
            #{reviewId}
        </foreach>
    </delete>

    <update id="setSysReviewSubStatusByReviewId" parameterType="SysReviewSub">
        update sys_review_sub
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="status != null and status != '' and status == 3">final_second_status = 0, final_hire = 0</if>
        </trim>
        where review_id = #{reviewId}
    </update>

    <select id="selectSysUpcomingReviewList" parameterType="SysReviewSub" resultMap="SysReviewSubResult">
        <include refid="selectSysReviewSubVo"/>
        inner join sys_review_sub_process rp on r.review_id = rp.review_id
        <where>
            <if test="serialNum != null  and serialNum != ''"> and r.serial_num = #{serialNum}</if>
            <if test="projectName != null  and projectName != ''"> and r.project_name like concat('%', #{projectName}, '%')</if>
            <if test="requester != null  and requester != ''"> and r.requester = #{requester}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="userId != null  and userId  == 8">
                AND r.final_hire = 1
            </if>
        </where>
        AND rp.user_id = #{userId}
        AND rp.status = 1
        order by r.review_id desc
    </select>

    <select id="selectCompletedReviewList" parameterType="SysReviewSub" resultMap="SysReviewSubResult">
        <include refid="selectSysReviewSubVo"/>
        <where>
            <if test="serialNum != null  and serialNum != ''"> and r.serial_num = #{serialNum}</if>
            <if test="projectName != null  and projectName != ''"> and r.project_name like concat('%', #{projectName}, '%')</if>
            <if test="requester != null  and requester != ''"> and r.requester = #{requester}</if>
            <if test="status != null and status != -1"> and r.status = #{status}</if>
            <if test="status != null and status == -1"> and (r.status = 2 or r.status = 4)</if>
            <if test="deptId != null "> and r.dept_id = #{deptId}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by r.review_id desc
    </select>

    <select id="selectDoneReviewList" parameterType="SysReviewSub" resultMap="SysReviewSubResult">
        <include refid="selectSysReviewSubVo"/>
        inner join sys_review_sub_process rp on r.review_id = rp.review_id
        <where>
            <if test="serialNum != null  and serialNum != ''"> and r.serial_num = #{serialNum}</if>
            <if test="projectName != null  and projectName != ''"> and r.project_name like concat('%', #{projectName}, '%')</if>
            <if test="requester != null  and requester != ''"> and r.requester = #{requester}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="employmentReason != null  and employmentReason == 1"> and (r.final_hire = 1 and rp.status = 2)</if>
            <if test="employmentReason != null  and employmentReason == 2"> and (r.final_hire = 0 and rp.status = 2)</if>
            <if test="employmentReason == null  or employmentReason == 0"> AND (rp.status = 2 OR rp.status = 3)</if>
        </where>
        AND rp.user_id = #{userId}
        order by rp.review_time desc
    </select>

    <update id="updateSysReviewSubFinalTime" parameterType="SysReviewSub">
        update sys_review_sub
        set final_time = #{finalTime}
        where review_id = #{reviewId}
    </update>

    <update id="setSysReviewSubFinalSecondStatusByReviewId" parameterType="SysReviewSub">
        update sys_review_sub
        set final_second_status = #{finalSecondStatus}
        where review_id = #{reviewId}
    </update>

    <update id="updateStartEditByReviewId" parameterType="SysReviewSub">
        update sys_review_sub
        <trim prefix="SET" suffixOverrides=",">
            <if test="startEdit != null and startEdit != ''">start_edit = #{startEdit},</if>
        </trim>
        where review_id = #{reviewId}
    </update>

    <update id="generateStatement" parameterType="SysReviewSub">
        update sys_review_sub
        set status = 4,start_edit = 0
        where review_id in
        <foreach item="reviewId" collection="reviewIds" open="(" separator="," close=")">
            #{reviewId}
        </foreach>
    </update>

    <sql id="selectSysReviewSubBySettlementVo">
        select r.*, d.dept_name, u.user_name from sys_review_sub r
        inner join sys_dept d on r.dept_id = d.dept_id
        inner join sys_user u on r.user_id = u.user_id
        inner join sys_settlement_associate a on r.review_id = a.review_id
    </sql>

    <select id="settlementListReview" parameterType="SysReviewSub" resultMap="SysReviewSubResult">
        <include refid="selectSysReviewSubBySettlementVo"/>
        and a.settlement_id = #{settlementId}
        <where>
            <if test="serialNum != null  and serialNum != ''"> and r.serial_num = #{serialNum}</if>
            <if test="projectName != null  and projectName != ''"> and r.project_name like concat('%', #{projectName}, '%')</if>
            <if test="requester != null  and requester != ''"> and r.requester = #{requester}</if>
            <if test="status != null "> and r.status = #{status}</if>
            <if test="deptId != null "> and r.dept_id = #{deptId}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(r.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by review_id desc
    </select>

    <sql id="selectSysReviewSubSettlementVo">
        select r.*, d.dept_name, u.user_name from sys_review_sub r
        inner join sys_dept d on r.dept_id = d.dept_id
        inner join sys_user u on r.user_id = u.user_id
        inner join sys_settlement_associate a on r.review_id = a.review_id
    </sql>
    <select id="selectSysReviewSubListBySettlementId" parameterType="SysReviewSub" resultMap="SysReviewSubResult">
        <include refid="selectSysReviewSubSettlementVo"/>
        <where>
            <if test="status != null "> and r.status = #{status}</if>
             and a.settlement_id = #{settlementId}
        </where>
        order by review_id desc
    </select>

    <update id="updateFinalHireByReviewId" parameterType="Long">
        update sys_review_sub
        set final_hire = 1
        where review_id = #{reviewId}
    </update>

    <select id="getReviewBySerialNum" parameterType="String" resultMap="SysReviewSubResult">
        <include refid="selectSysReviewSubVo"/>
        where serial_num = #{serialNum}
        limit 1
    </select>

    <update id="updateRealWorkloadByReviewId" parameterType="SysReviewSub">
        update sys_review_sub
        set real_workload = #{realWorkload}
        where review_id = #{reviewId}
    </update>

</mapper>