<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysSubcontractMapper">

    <resultMap type="SysSubcontract" id="SysSubcontractResult">
        <result property="subcontractId" column="subcontract_id"/>
        <result property="serialNum" column="serial_num"/>
        <result property="lotTime" column="lot_time"/>
        <result property="projectName" column="project_name"/>
        <result property="businessName" column="business_name"/>
        <result property="cooperationUnit" column="cooperation_unit"/>
        <result property="winUnit" column="win_unit"/>
        <result property="entrustUnit" column="entrust_unit"/>
        <result property="workload" column="workload"/>
        <result property="workcontent" column="workcontent"/>
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="status" column="status"/>
        <result property="isPrint" column="is_print"/>
        <result property="subType" column="sub_type"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="dept" column="dept_name" javaType="SysDept" resultMap="sysReviewDeptResult"/>
        <association property="user" column="user_name" javaType="SysUser" resultMap="sysReviewUserResult"/>
        <association property="projectRelation" column="projectId" javaType="SysProjectRelation" resultMap="SysProjectRelationResult"/>
        <association property="project" javaType="SysProject" resultMap="SysProjectResult"/>
    </resultMap>

    <resultMap type="SysProject" id="SysProjectResult">
        <result property="projectId"    column="project_id"    />
        <result property="projectNameAlias"    column="project_name_alias"    />
        <result property="projectNum"    column="project_num"    />
        <result property="projectType"    column="project_type"    />
        <result property="registerTime"    column="register_time"    />
        <result property="receptionist"    column="receptionist"    />
        <result property="workloadAlias"    column="workload_alias"    />
        <result property="userNameAlias"    column="user_name_alias"    />
        <result property="requesterAlias"    column="requester_alias"    />
        <result property="projectStartAlias"    column="project_start_alias"    />
        <result property="projectEndAlias"    column="project_end_alias"    />
        <result property="oneCheck"    column="one_check"    />
        <result property="twoCheck"    column="two_check"    />
        <result property="noticeTime"    column="notice_time"    />
        <result property="projectTime"    column="project_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="projectMoneyAlias"    column="project_money_alias"    />
        <result property="operate"    column="operate"    />
        <result property="operateUser"    column="operate_user"    />
        <result property="operateTime"    column="operate_time"    />
    </resultMap>

    <resultMap type="SysProjectRelation" id="SysProjectRelationResult">
        <result property="projectId"    column="project_id"    />
    </resultMap>

    <resultMap id="sysReviewDeptResult" type="SysDept">
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <resultMap id="sysReviewUserResult" type="SysUser">
        <result property="userName" column="user_name"/>
    </resultMap>

    <sql id="selectSysSubcontractVo">
        select r.*, d.dept_name, u.user_name, p.project_id, pp.*
        from sys_subcontract r
                 inner join sys_dept d on r.dept_id = d.dept_id
                 inner join sys_user u on r.user_id = u.user_id
                 left join sys_project_relation p on r.subcontract_id = p.review_id and p.review_type = 2
                 left join sys_project pp on p.project_id = pp.project_id
    </sql>

    <select id="selectSysSubcontractList" parameterType="SysSubcontract" resultMap="SysSubcontractResult">
        <include refid="selectSysSubcontractVo"/>
        <where>
            <if test="serialNum != null  and serialNum != ''">and r.serial_num like concat('%', #{serialNum},'%')</if>
            <if test="projectName != null  and projectName != ''">and r.project_name like concat('%', #{projectName},
                '%')
            </if>
            <if test="businessName != null  and businessName != ''">and r.business_name like concat('%',
                #{businessName},
                '%')
            </if>
            <if test="winUnit != null  and winUnit != ''">and r.win_unit = #{winUnit}</if>
            <if test="deptId != null ">and r.dept_id = #{deptId}</if>
            <if test="status != null ">and r.status = #{status}</if>
            <if test="userId != null  and userId != ''">and r.user_id = #{userId}</if>
        </where>
        order by r.subcontract_id desc
    </select>

    <select id="selectSysSubcontractBySubcontractId" parameterType="Long" resultMap="SysSubcontractResult">
        <include refid="selectSysSubcontractVo"/>
        where subcontract_id = #{subcontractId}
    </select>

    <insert id="insertSysSubcontract" parameterType="SysSubcontract" useGeneratedKeys="true"
            keyProperty="subcontractId">
        insert into sys_subcontract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNum != null and serialNum != ''">serial_num,</if>
            <if test="lotTime != null">lot_time,</if>
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="businessName != null and businessName != ''">business_name,</if>
            <if test="cooperationUnit != null">cooperation_unit,</if>
            <if test="winUnit != null and winUnit != ''">win_unit,</if>
            <if test="entrustUnit != null">entrust_unit,</if>
            <if test="workload != null">workload,</if>
            <if test="workcontent != null">workcontent,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="status != null">status,</if>
            <if test="isPrint != null">is_print,</if>
            <if test="subType != null">sub_type,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNum != null and serialNum != ''">#{serialNum},</if>
            <if test="lotTime != null">#{lotTime},</if>
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="businessName != null and businessName != ''">#{businessName},</if>
            <if test="cooperationUnit != null">#{cooperationUnit},</if>
            <if test="winUnit != null and winUnit != ''">#{winUnit},</if>
            <if test="entrustUnit != null">#{entrustUnit},</if>
            <if test="workload != null">#{workload},</if>
            <if test="workcontent != null">#{workcontent},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="isPrint != null">#{isPrint},</if>
            <if test="subType != null">#{subType},</if>
            <if test="status != null">#{status},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysSubcontract" parameterType="SysSubcontract">
        update sys_subcontract
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNum != null and serialNum != ''">serial_num = #{serialNum},</if>
            <if test="lotTime != null">lot_time = #{lotTime},</if>
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="businessName != null and businessName != ''">business_name = #{businessName},</if>
            <if test="cooperationUnit != null">cooperation_unit = #{cooperationUnit},</if>
            <if test="winUnit != null and winUnit != ''">win_unit = #{winUnit},</if>
            <if test="entrustUnit != null">entrust_unit = #{entrustUnit},</if>
            <if test="workload != null">workload = #{workload},</if>
            <if test="workcontent != null">workcontent = #{workcontent},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="isPrint != null">is_print = #{isPrint},</if>
            <if test="subType != null">sub_type = #{subType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where subcontract_id = #{subcontractId}
    </update>

    <delete id="deleteSysSubcontractBySubcontractId" parameterType="Long">
        delete
        from sys_subcontract
        where subcontract_id = #{subcontractId}
    </delete>

    <delete id="deleteSysSubcontractBySubcontractIds" parameterType="String">
        delete from sys_subcontract where subcontract_id in
        <foreach item="subcontractId" collection="array" open="(" separator="," close=")">
            #{subcontractId}
        </foreach>
    </delete>

    <update id="setSysSubcontractStatusBySubcontractId" parameterType="SysSubcontract">
        update sys_subcontract
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where subcontract_id = #{subcontractId}
    </update>

    <select id="selectSysUpcomingSubcontractList" parameterType="SysSubcontract" resultMap="SysSubcontractResult">
        <include refid="selectSysSubcontractVo"/>
        inner join sys_subcontract_process rp on r.subcontract_id = rp.subcontract_id
        <where>
            <if test="serialNum != null  and serialNum != ''">and r.serial_num = #{serialNum}</if>
            <if test="deptId != null  and deptId != ''">and r.dept_id = #{deptId}</if>
            <if test="fzrUserId != null  and fzrUserId != ''">and r.user_id = #{fzrUserId}</if>
            <if test="projectName != null  and projectName != ''">and r.project_name like concat('%', #{projectName},
                '%')
            </if>
            <if test="businessName != null  and businessName != ''">and r.business_name like concat('%',
                #{businessName},
                '%')
            </if>
            <if test="winUnit != null  and winUnit != ''">and r.win_unit = #{winUnit}</if>
        </where>
        AND rp.user_id = #{userId}
        AND rp.status = 1
        order by r.subcontract_id desc
    </select>

    <update id="setSysReviewStatusBySubcontractId" parameterType="SysSubcontract">
        update sys_subcontract
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where subcontract_id = #{subcontractId}
    </update>

    <select id="selectDoneReviewList" parameterType="SysSubcontract" resultMap="SysSubcontractResult">
        <include refid="selectSysSubcontractVo"/>
        inner join sys_subcontract_process rp on r.subcontract_id = rp.subcontract_id
        <where>
            <if test="serialNum != null  and serialNum != ''">and r.serial_num = #{serialNum}</if>
            <if test="projectName != null  and projectName != ''">and r.project_name like concat('%', #{projectName},
                '%')
            </if>
            <if test="businessName != null  and businessName != ''">and r.business_name like concat('%',
                #{businessName},
                '%')
            </if>
            <if test="winUnit != null  and winUnit != ''">and r.win_unit = #{winUnit}</if>
        </where>
        AND rp.user_id = #{userId}
        AND (rp.status = 2 OR rp.status = 3)
        order by rp.review_time desc
    </select>

    <select id="selectCompletedReviewList" parameterType="SysSubcontract" resultMap="SysSubcontractResult">
        <include refid="selectSysSubcontractVo"/>
        <where>
            <if test="serialNum != null  and serialNum != ''">and r.serial_num = #{serialNum}</if>
            <if test="projectName != null  and projectName != ''">and r.project_name like concat('%', #{projectName},
                '%')
            </if>
            <if test="businessName != null  and businessName != ''">and r.business_name like concat('%',
                #{businessName},
                '%')
            </if>
            <if test="deptId != null ">and r.dept_id = #{deptId}</if>
            <if test="winUnit != null  and winUnit != ''">and r.win_unit = #{winUnit}</if>
            <if test="status != null "> and r.status = #{status}</if>
            <if test="isPrint != null">and r.is_print = #{isPrint}</if>
        </where>
        order by subcontract_id desc
    </select>

    <update id="setSubcontractIsPrintBySubcontractId" parameterType="Long">
        update sys_subcontract
        set is_print = 1
        where subcontract_id = #{subcontractId}
    </update>

    <select id="getSubcontractBySerialNum" parameterType="String" resultMap="SysSubcontractResult">
        <include refid="selectSysSubcontractVo"/>
        where serial_num = #{serialNum}
        limit 1
    </select>

    <select id="getReviewSubcontract" parameterType="String" resultMap="SysSubcontractResult">
        SELECT a.*, u.user_name FROM sys_subcontract a
        INNER JOIN sys_user u on u.user_id = a.user_id  where a.serial_num = #{serialNum} LIMIT 1
    </select>
</mapper>