<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcylog.system.mapper.SysSendingMapper">
    
    <resultMap type="SysSending" id="SysSendingResult">
        <result property="id"    column="id"    />
        <result property="lxfs"    column="lxfs"    />
        <result property="projectId"    column="project_id"    />
        <result property="sjsj"    column="sjsj"    />
        <result property="bz"    column="bz"    />
        <result property="ver"    column="ver"    />
    </resultMap>

    <sql id="selectSysSendingVo">
        select id, lxfs, project_id, sjsj, bz, ver from sys_sending
    </sql>

    <select id="selectSysSendingList" parameterType="SysSending" resultMap="SysSendingResult">
        <include refid="selectSysSendingVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="ver != null  and bz != ''"> and ver = #{ver}</if>
        </where>
        order by id asc
    </select>
    
    <select id="selectSysSendingById" parameterType="Long" resultMap="SysSendingResult">
        <include refid="selectSysSendingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysSending" parameterType="SysSending" useGeneratedKeys="true" keyProperty="id">
        insert into sys_sending
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lxfs != null">lxfs,</if>
            <if test="projectId != null">project_id,</if>
            <if test="sjsj != null">sjsj,</if>
            <if test="bz != null">bz,</if>
            <if test="ver != null">ver,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lxfs != null">#{lxfs},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="sjsj != null">#{sjsj},</if>
            <if test="bz != null">#{bz},</if>
            <if test="ver != null">#{ver},</if>
         </trim>
    </insert>

    <update id="updateSysSending" parameterType="SysSending">
        update sys_sending
        <trim prefix="SET" suffixOverrides=",">
            <if test="lxfs != null">lxfs = #{lxfs},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="sjsj != null">sjsj = #{sjsj},</if>
            <if test="bz != null">bz = #{bz},</if>
            <if test="ver != null">ver = #{ver},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysSendingById" parameterType="Long">
        delete from sys_sending where id = #{id}
    </delete>

    <delete id="deleteSysSendingByIds" parameterType="String">
        delete from sys_sending where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSysSendingListForProjectIds" parameterType="java.util.List" resultMap="SysSendingResult">
        <include refid="selectSysSendingVo"/>
        where project_id in
        <foreach item="projectId" collection="list" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </select>
</mapper>