@font-face {
  font-family: PingFang SC;
  src: url('~@/assets/font/PingFang.ttf');
}
@font-face {
  font-family: PingFang Medium;
  src: url('~@/assets/font/PingFangMedium.ttf');
}
@font-face {
  font-family: DingBlack;
  src: url('~@/assets/font/DingBlack.otf');
}

@font-face {
  font-family: TCloud Number;
  src: url('~@/assets/font/TCloudNumber-Regular.ttf');
}
