$themes: (
/*-------------------默认变量-----------------*/

defaultVariables:(normal-color:#262626, //全局正常字体颜色
placehold-color:#8C8C8C, //全局提示文字颜色
main-background-color:#E5E5E5, //全局背景灰
success-color: #67C23A, warning-color: #E6A23C, danger-color: #F56C6C, info-color: #8C8C8C, font-weight:600, //加粗自重
border-base-color: #DCDFE6),
/*--------------------字体--------------------*/

largeFontSize: (tip-font-size:16px, //提示文字大小
content-font-size:18px, // 正文大小
title-font-size:20px, // 标题字体大小
header-font-size:22px // 头部字体大小
), mediumFontSize: (tip-font-size:14px, content-font-size:16px, title-font-size:18px, header-font-size:20px, ), standardFontSize: (tip-font-size:12px, content-font-size:14px, title-font-size:16px, header-font-size:18px), ipadStandardFontSize: (tip-font-size:10px, content-font-size:12px, title-font-size:14px, header-font-size:16px),
/*----------------------肤色----------------------*/


/*-------------------------------------------------
----------------------中心蓝-----------------------
---------------------------------------------------*/

default-blue: ( //blue
primary-color: #1491ED, //主色,
primary-color-l1: #E8F9FF, //主色减淡1,
primary-color-l2: #BBE9FB, //主色减淡2,
primary-color-l3: #90D7F8, //主色减淡3,
primary-color-l4: #65C2F4, //主色减淡4,
primary-color-l5: #3CABF1, //主色减淡5,
primary-color-d1: #0C72C5, //主色加深1,
primary-color-d2: #07549D, //主色加深2,
primary-color-d3: #023A75, //主色加深3,
primary-color-d4: #00224D, //主色加深4,
primary-color-o10: rgba(#1491ED, 0.1), //主色10%,
primary-color-o5: rgba(#1491ED, 0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background:#2770E8, //顶部导航栏-背景色,
navbar-background-o80: rgba(#2770E8, .8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/default-blue/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/default-blue/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#1491ED, 0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#1491ED, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#1491ED, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#1491ED, 0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #409eff, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/default-blue/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/default-blue/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/default-blue/icon-option4.png'), //顶部导航-操作图标4,
// usemost-bg-img1: url('~@/assets/images/home/theme-content/default-blue/usemost-bg-img1.png'), //我的常用-背景配图1,
// usemost-bg-img2: url('~@/assets/images/home/theme-content/default-blue/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/default-blue/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/default-blue/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/default-blue/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/default-blue/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/default-blue/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/default-blue/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/default-blue/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
),

/*-------------------------------------------------
----------------------薄暮红-----------------------
---------------------------------------------------*/

dusk-red: ( //red
primary-color: #F53F3F, //主色,
primary-color-l1: #FFECE8, //主色减淡1,
primary-color-l2: #FDCDC5, //主色减淡2,
primary-color-l3: #FBACA3, //主色减淡3,
primary-color-l4: #F98981, //主色减淡4,
primary-color-l5: #F76560, //主色减淡5,
primary-color-d1: #CB272D, //主色加深1,
primary-color-d2: #A1151E, //主色加深2,
primary-color-d3: #770813, //主色加深3,
primary-color-d4: #4D000A, //主色加深4,
primary-color-o10: rgba(#F53F3F,
0.1), //主色10%,
primary-color-o5: rgba(#F53F3F,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background:#F53F3F, //顶部导航栏-背景色,
navbar-background-o80: rgba(#F53F3F,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/dusk-red/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/dusk-red/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#F53F3F,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#F53F3F, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#F53F3F, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#F53F3F,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #F53F3F, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/dusk-red/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/dusk-red/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/dusk-red/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/dusk-red/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/dusk-red/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/dusk-red/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/dusk-red/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/dusk-red/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/dusk-red/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/dusk-red/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/dusk-red/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/dusk-red/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
),

/*-------------------------------------------------
----------------------深空灰-----------------------
---------------------------------------------------*/

space-gray: ( //gray
primary-color: #86909C, //主色,
primary-color-l1: #f7f8fa, //主色减淡1,
primary-color-l2: #f2f3f5, //主色减淡2,
primary-color-l3: #e5e6eb, //主色减淡3,
primary-color-l4: #c9cdd4, //主色减淡4,
primary-color-l5: #a9aeb8, //主色减淡5,
primary-color-d1: #6b7785, //主色加深1,
primary-color-d2: #4e5969, //主色加深2,
primary-color-d3: #272e3b, //主色加深3,
primary-color-d4: #1d2129, //主色加深4,
primary-color-o10: rgba(#86909C,
0.1), //主色10%,
primary-color-o5: rgba(#86909C,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background:#86909C, //顶部导航栏-背景色,
navbar-background-o80: rgba(#86909C,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/space-gray/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/space-gray/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#86909C,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#86909C, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#86909C, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#86909C,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #86909C, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/space-gray/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/space-gray/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/space-gray/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/space-gray/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/space-gray/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/space-gray/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/space-gray/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/space-gray/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/space-gray/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/space-gray/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/space-gray/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/space-gray/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
),

/*-------------------------------------------------
----------------------极光绿-----------------------
---------------------------------------------------*/

aurora-green: ( //green
primary-color: #00B42A, //主色,
primary-color-l1: #E8FFEA, //主色减淡1,
primary-color-l2: #AFF0B5, //主色减淡2,
primary-color-l3: #7BE188, //主色减淡3,
primary-color-l4: #4CD263, //主色减淡4,
primary-color-l5: #23C343, //主色减淡5,
primary-color-d1: #009A29, //主色加深1,
primary-color-d2: #008026, //主色加深2,
primary-color-d3: #006622, //主色加深3,
primary-color-d4: #004D1C, //主色加深4,
primary-color-o10: rgba(#00B42A,
0.1), //主色10%,
primary-color-o5: rgba(#00B42A,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background:#00B42A, //顶部导航栏-背景色,
navbar-background-o80: rgba(#00B42A,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/aurora-green/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/aurora-green/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#00B42A,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#00B42A, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#00B42A, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#00B42A,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #00B42A, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/aurora-green/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/aurora-green/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/aurora-green/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/aurora-green/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/aurora-green/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/aurora-green/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/aurora-green/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/aurora-green/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/aurora-green/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/aurora-green/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/aurora-green/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/aurora-green/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
),

/*-------------------------------------------------
----------------------丹霞橙-----------------------
---------------------------------------------------*/

danxia-orange: ( //orange
primary-color: #F77234, //主色,
primary-color-l1: #FFF3E8, //主色减淡1,
primary-color-l2: #FDDDC3, //主色减淡2,
primary-color-l3: #FCC59F, //主色减淡3,
primary-color-l4: #FAAC7B, //主色减淡4,
primary-color-l5: #F99057, //主色减淡5,
primary-color-d1: #CC5120, //主色加深1,
primary-color-d2: #A23511, //主色加深2,
primary-color-d3: #771F06, //主色加深3,
primary-color-d4: #4D0E00, //主色加深4,
primary-color-o10: rgba(#F77234,
0.1), //主色10%,
primary-color-o5: rgba(#F77234,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background:#F77234, //顶部导航栏-背景色,
navbar-background-o80: rgba(#F77234,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/danxia-orange/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/danxia-orange/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#F77234,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#F77234, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#F77234, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#F77234,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #F77234, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/danxia-orange/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/danxia-orange/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/danxia-orange/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/danxia-orange/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/danxia-orange/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/danxia-orange/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/danxia-orange/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/danxia-orange/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/danxia-orange/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/danxia-orange/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/danxia-orange/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/danxia-orange/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
),

/*-------------------------------------------------
----------------------法式洋红-----------------------
---------------------------------------------------*/

french-magenta: ( //magenta
primary-color: #F06D9B, //主色,
primary-color-l1: #FFE8EC, //主色减淡1,
primary-color-l2: #FCCED8, //主色减淡2,
primary-color-l3: #F9B5C6, //主色减淡3,
primary-color-l4: #F69DB6, //主色减淡4,
primary-color-l5: #F385A8, //主色减淡5,
primary-color-d1: #C74476, //主色加深1,
primary-color-d2: #9E2457, //主色加深2,
primary-color-d3: #750D3C, //主色加深3,
primary-color-d4: #4D0025, //主色加深4,
primary-color-o10: rgba(#F06D9B,
0.1), //主色10%,
primary-color-o5: rgba(#F06D9B,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background:#F06D9B, //顶部导航栏-背景色,
navbar-background-o80: rgba(#F06D9B,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/french-magenta/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/french-magenta/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#F06D9B,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#F06D9B, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#F06D9B, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#F06D9B,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #F06D9B, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/french-magenta/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/french-magenta/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/french-magenta/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/french-magenta/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/french-magenta/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/french-magenta/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/french-magenta/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/french-magenta/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/french-magenta/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/french-magenta/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/french-magenta/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/french-magenta/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
),

/*-------------------------------------------------
----------------------翡翠青-----------------------
---------------------------------------------------*/

emerald-green: ( //emerald-green
primary-color: #3BB9CD, //主色,
primary-color-l1: #E8FFFE, //主色减淡1,
primary-color-l2: #C0F5F5, //主色减淡2,
primary-color-l3: #9BE8EB, //主色减淡3,
primary-color-l4: #79DAE1, //主色减淡4,
primary-color-l5: #59CAD7, //主色减淡5,
primary-color-d1: #2596AD, //主色加深1,
primary-color-d2: #14758D, //主色加深2,
primary-color-d3: #08556D, //主色加深3,
primary-color-d4: #00384D, //主色加深4,
primary-color-o10: rgba(#3BB9CD,
0.1), //主色10%,
primary-color-o5: rgba(#3BB9CD,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background:#3BB9CD, //顶部导航栏-背景色,
navbar-background-o80: rgba(#3BB9CD,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/emerald-green/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/emerald-green/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#3BB9CD,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#3BB9CD, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#3BB9CD, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#3BB9CD,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #3BB9CD, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/emerald-green/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/emerald-green/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/emerald-green/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/emerald-green/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/emerald-green/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/emerald-green/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/emerald-green/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/emerald-green/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/emerald-green/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/emerald-green/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/emerald-green/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/emerald-green/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
),

/*-------------------------------------------------
----------------------罗兰紫-----------------------
---------------------------------------------------*/

roland-purple: ( //purple
primary-color: #9244EA, //主色,
primary-color-l1: #F7E8FF, //主色减淡1,
primary-color-l2: #E5C5FB, //主色减淡2,
primary-color-l3: #D3A3F7, //主色减淡3,
primary-color-l4: #BE82F2, //主色减淡4,
primary-color-l5: #A863EE, //主色减淡5,
primary-color-d1: #6C2AC3, //主色加深1,
primary-color-d2: #4C179B, //主色加深2,
primary-color-d3: #300874, //主色加深3,
primary-color-d4: #19004D, //主色加深4,
primary-color-o10: rgba(#9244EA,
0.1), //主色10%,
primary-color-o5: rgba(#9244EA,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background:#9244EA, //顶部导航栏-背景色,
navbar-background-o80: rgba(#9244EA,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/roland-purple/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/roland-purple/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#9244EA,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#9244EA, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#9244EA, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#9244EA,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #9244EA, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/roland-purple/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/roland-purple/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/roland-purple/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/roland-purple/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/roland-purple/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/roland-purple/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/roland-purple/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/roland-purple/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/roland-purple/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/roland-purple/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/roland-purple/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/roland-purple/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
),

/*-------------------------------------------------
----------------------春节-----------------------
---------------------------------------------------*/

new-year: ( //new-year
primary-color: #F53F3F, //主色,
primary-color-l1: #FFECE8, //主色减淡1,
primary-color-l2: #FDCDC5, //主色减淡2,
primary-color-l3: #FBACA3, //主色减淡3,
primary-color-l4: #F98981, //主色减淡4,
primary-color-l5: #F76560, //主色减淡5,
primary-color-d1: #CB272D, //主色加深1,
primary-color-d2: #A1151E, //主色加深2,
primary-color-d3: #770813, //主色加深3,
primary-color-d4: #4D000A, //主色加深4,
primary-color-o10: rgba(#F53F3F,
0.1), //主色10%,
primary-color-o5: rgba(#F53F3F,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img: url('~@/assets/images/home/theme-content/new-year/nav-scene-pic.png'), //顶部导航栏-背景图,
navbar-background:#F53F3F, //顶部导航栏-背景色,
navbar-background-o80: rgba(#F53F3F,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/new-year/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/new-year/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#F53F3F,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#F53F3F, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#F53F3F, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img: url('~@/assets/images/home/theme-content/new-year/submenu-scene-pic.png'), //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#F53F3F,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #F53F3F, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/new-year/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/new-year/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/new-year/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/new-year/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/new-year/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/new-year/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/new-year/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/new-year/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/new-year/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/new-year/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/new-year/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/new-year/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
),

/*-------------------------------------------------
----------------------中秋节-----------------------
---------------------------------------------------*/

mid-autumn: ( //mid-autumn
primary-color: #F77234, //主色,
primary-color-l1: #FFF3E8, //主色减淡1,
primary-color-l2: #FDDDC3, //主色减淡2,
primary-color-l3: #FCC59F, //主色减淡3,
primary-color-l4: #FAAC7B, //主色减淡4,
primary-color-l5: #F99057, //主色减淡5,
primary-color-d1: #CC5120, //主色加深1,
primary-color-d2: #A23511, //主色加深2,
primary-color-d3: #771F06, //主色加深3,
primary-color-d4: #4D0E00, //主色加深4,
primary-color-o10: rgba(#F77234,
0.1), //主色10%,
primary-color-o5: rgba(#F77234,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img: url('~@/assets/images/home/theme-content/mid-autumn/nav-scene-pic.png'), //顶部导航栏-背景图,
navbar-background:#3BB9CD, //顶部导航栏-背景色,
navbar-background-o80: rgba(#F77234,
.8), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/mid-autumn/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/mid-autumn/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#FFFFFF, //左侧导航-一级菜单栏-背景色,
menu-text-color:#777C88, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:rgba(#F77234,
0.1), //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#F77234, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#F77234, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img: url('~@/assets/images/home/theme-content/mid-autumn/submenu-scene-pic.png'), //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#F77234,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #F77234, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/mid-autumn/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/mid-autumn/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/mid-autumn/icon-option4.png'), //顶部导航-操作图标4,
usemost-bg-img1: url('~@/assets/images/home/theme-content/mid-autumn/usemost-bg-img1.png'), //我的常用-背景配图1,
usemost-bg-img2: url('~@/assets/images/home/theme-content/mid-autumn/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/mid-autumn/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/mid-autumn/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/mid-autumn/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/mid-autumn/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/mid-autumn/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/mid-autumn/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/mid-autumn/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
),

/*-------------------------------------------------
----------------------old-----------------------
---------------------------------------------------*/

// /*-------------------------------------------------
// -----------------------简绿------------------------
// ---------------------------------------------------*/
// simple-green:( primary-color: #0C7715,
// primary-color-o30: rgba(12,
// 119,
// 21,
// 0.3),
// primary-color-o10: rgba(12,
// 119,
// 21,
// 0.1),
// primary-color-o5: rgba(12,
// 119,
// 21,
// 0.05),
// navbar-background-img:'',
// navbar-background:#2A943B,
// navbar-background-o80: rgba(#2A943B,
// .8),
// navbar-title-img:url('../assets/images/home/theme-content/simple-green/title.png'),
// navbar-logo:url('../assets/images/home/theme-content/simple-green/logo-transparent.png'),
// navbar-searchbar-background-color:rgba(0,
// 0,
// 0,
// 0.15),
// navbar-text-color:#FFFFFF,
// tagViews-background-color: #E7E7E7,
// tagViews-line-color: #D9D9D9,
// tagViews-text-color: #8B8B8B,
// tagViews-hover-background-color:#f8f8f8,
// close-hover-background-color: #E7E7E7,
// close-hover-color:#A7A7A7,
// tagViews-active-background-color: #FFF,
// tagViews-active-text-color:#A0A0A0,
// sidebar-background-color:#FFFFFF,
// menu-background-img:'',
// menu-background-color:#F6F6F6,
// menu-text-color:#777C88,
// menu-hover-background-color:#DAECE0,
// menu-hover-text-color:#0C7715,
// submenu-text-color: #262626,
// submenu-hover-background-color:#F5F5F5,
// submenu-actived-text-color: #262626,
// statistic-backgroud-img:url('../assets/images/home/theme-content/simple-green/statistics_bg.png'),
// calendar-background-img:url('../assets/images/home/theme-content/simple-green/calendar-bg.png'),
// radio-active-background-color:#E7F2E9),
// /*-------------------------------------------------
// -----------------------经典2020------------------------
// ---------------------------------------------------*/
classic-2020: ( //blue
primary-color: #2770E8, //主色,
primary-color-l1: #E9F0FC, //主色减淡1,
primary-color-l2: #D4E2FA, //主色减淡2,
primary-color-l3: #A9C6F6, //主色减淡3,
primary-color-l4: #7DA9F1, //主色减淡4,
primary-color-l5: #528DED, //主色减淡5,
primary-color-d1: #1753C2, //主色加深1,
primary-color-d2: #0B399C, //主色加深2,
primary-color-d3: #022375, //主色加深3,
primary-color-d4: #01144F, //主色加深4,
primary-color-o10: rgba(#2770E8,
0.1), //主色10%,
primary-color-o5: rgba(#2770E8,0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:url('~@/assets/images/home/theme-content/classic-2020/nav-bg.png'), //顶部导航栏-背景图,
navbar-text-color:#2770E8,
navbar-right-text-color:#000000,
navbar-search-bg:#2770e8b3, // navbar-background:linear-gradient(205.4deg, rgba(105, 192, 255, 1) 0%, rgba(24, 144, 255, 1) 100%), //顶部导航栏-背景色,
navbar-background:linear-gradient(205.4deg,
#d4e4fe 0%,
#d4e4fe 100%), //顶部导航栏-背景色,
navbar-background-o80: linear-gradient(180deg,
rgba(39,
112,
232,
0.4) 0%,
rgba(39,
112,
232,
1) 100%), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/classic-2020/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/classic-2020/logo-transparent.png'), //顶部导航栏-logo图,
navbar-searchinput-img:url('~@/assets/images/home/theme-content/high-contrast/navbar-background.png'), //经典2020皮肤，顶部波浪底纹
menu-background-color:#1753C2, //左侧导航-一级菜单栏-背景色,
menu-text-color:#fff, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:#fff, //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#2770E8, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#1f1f1f, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img: url('~@/assets/images/home/theme-content/classic-2020/submenu-scene-pic.png'), //左侧导航-二级菜单栏-背景图,
submenu-text-color: #000000, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: #FFFFFF, //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #2770E8, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon1: url('~@/assets/images/home/theme-content/classic-2020/icon-option1.png'), //顶部导航-操作图标2,
navbar-option-icon2: url('~@/assets/images/home/theme-content/classic-2020/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/classic-2020/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/classic-2020/icon-option4.png'), //顶部导航-操作图标4,
// usemost-bg-img1: url('~@/assets/images/home/theme-content/default-blue/usemost-bg-img1.png'), //我的常用-背景配图1,
// usemost-bg-img2: url('~@/assets/images/home/theme-content/default-blue/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/default-blue/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/default-blue/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,
usemost-icon-default: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon-default.png'), //我的常用-图标6,
zx-bg: linear-gradient(180deg, rgba(35,101,229,1) 0%, rgba(159,191,245,1) 100%),
zx-icon-default: url('~@/assets/images/home/theme-content/classic-2020/zx-icon-default.png'), //我的常用-图标6,
zx-icon-hover:#9FBFF5,
// 首页消息通知title
title-size: 20px,
font-songti: serif,
font-sjxhjt: Sjxhjt,
title-font-weight: 500,
notice-title-color:rgba(1,
20,
79,
1),
notice-title-font-size:16px,
usemost-bg: linear-gradient(180deg,
#E8F4FE,
#fff),
usemost-icon-size: 80%,
usemost-icon-hover:#2770e8,
statistics-title-icon-bg: url('~@/assets/statistics/title-icon-bg.png'),
statistics-title-text-bg: url('~@/assets/statistics/title-text-bg.png'),
statistics-title-end-bg: url('~@/assets/statistics/title-end-bg.png'),
statistics-content-top: 6px,
statistics-content-bottom:0px,
statistics-num-item: 18px,
box-padding:8px 8px 0 0,
modular-padding:0 0 8px 8px,
modular-border-radius: 0px,
modular-border-color:#D9D9D9,
modular-box-shadow:none,
statistics-item-height:145px,
statistics-item-padding:12px 12px 0 12px,
calendarModular-left-width:120px,
business-item-time: 14px,
business-item-name: 16px,
navbar-right-icon1:url('~@/assets/images/home/theme-content/classic-2020/icon-right-btn2.png'),
navbar-right-icon2:url('~@/assets/images/home/theme-content/classic-2020/calculate.png'),
number-font:DingBlack,
text-font:PingFang SC,
btn-text-size:16px,
statistics-content-height:90px,
statistics-content-flex:none,
number-font-weight:unset,
classic-2020:'true',
),
high-contrast: ( //blue
primary-color: #2770EB, //主色,
primary-color-l1: #E8F9FF, //主色减淡1,
primary-color-l2: #BBE9FB, //主色减淡2,
primary-color-l3: #90D7F8, //主色减淡3,
primary-color-l4: #65C2F4, //主色减淡4,
primary-color-l5: #3CABF1, //主色减淡5,
primary-color-d1: #0C72C5, //主色加深1,
primary-color-d2: #07549D, //主色加深2,
primary-color-d3: #023A75, //主色加深3,
primary-color-d4: #00224D, //主色加深4,
primary-color-o10: rgba(#1491ED,
0.1), //主色10%,
primary-color-o5: rgba(#1491ED,
0.05), //主色5%,
home-background-img:url('~@/assets/images/home/theme-content/classic-2020/home-bg.png'), //顶部导航栏-背景图,
navbar-background-img:'', //顶部导航栏-背景图,
navbar-background: #2770EB, //顶部导航栏-背景色,
navbar-background-o80: linear-gradient(180deg,
rgba(39,
112,
232,
0.4) 0%,
rgba(39,
112,
232,
1) 100%), //顶部导航栏-背景色80%,
navbar-title-img:url('~@/assets/images/home/theme-content/default-blue/title.png'), //顶部导航栏-logo文字,
navbar-logo:url('~@/assets/images/home/theme-content/default-blue/logo-transparent.png'), //顶部导航栏-logo图,
menu-background-color:#fff, //左侧导航-一级菜单栏-背景色,
menu-text-color:#8C8C8C, //左侧导航-一级菜单栏-文字色,
menu-hover-background-color:#fff, //左侧导航栏-一级菜单栏-选中背景色,
menu-hover-icon-color:#2770EB, //左侧导航栏-一级菜单栏-选中图标色,
menu-hover-text-color:#2770EB, //左侧导航栏-一级菜单栏-选中文字色,
submenu-background-color:#FFFFFF, //左侧导航-二级菜单栏-背景色,
submenu-background-img:'', //左侧导航-二级菜单栏-背景图,
submenu-text-color: #595959, //左侧导航-二级菜单栏-文字色,
submenu-hover-background-color: rgba(#1491ED,
0.1), //左侧导航栏-二级菜单栏-选中背景色,
submenu-actived-text-color: #2770EB, //左侧导航栏-二级菜单栏-选中文字色,
navbar-option-icon2: url('~@/assets/images/home/theme-content/default-blue/icon-option2.png'), //顶部导航-操作图标2,
navbar-option-icon3: url('~@/assets/images/home/theme-content/default-blue/icon-option3.png'), //顶部导航-操作图标3,
navbar-option-icon4: url('~@/assets/images/home/theme-content/default-blue/icon-option4.png'), //顶部导航-操作图标4,
// usemost-bg-img1: url('~@/assets/images/home/theme-content/default-blue/usemost-bg-img1.png'), //我的常用-背景配图1,
// usemost-bg-img2: url('~@/assets/images/home/theme-content/default-blue/usemost-bg-img2.png'), //我的常用-背景配图2,
statistics-sup-pic: url('~@/assets/images/home/theme-content/default-blue/stat-sup-pic.png'), //我的统计-背景配图,
statistics-sub-circle: url('~@/assets/images/home/theme-content/default-blue/stait-sub-circle.png'), //我的统计-百分比圈图,
usemost-icon1: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon1.png'), //我的常用-图标1,
usemost-icon2: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon2.png'), //我的常用-图标2,
usemost-icon3: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon3.png'), //我的常用-图标3,
usemost-icon4: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon4.png'), //我的常用-图标4,
usemost-icon5: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon5.png'), //我的常用-图标5,
usemost-icon6: url('~@/assets/images/home/theme-content/classic-2020/usemost-each-icon6.png'), //我的常用-图标6,

classic-2020:'true',
high-contrast:'true',
),
);
@font-face {
  font-family: 'Sjxhjt';
  src: url('~@/assets/font/三极信黑简体.ttf');
}
